# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Clip & Ship
name: Miles Phan
logo: "assets/images/logo_small.png"
email: milo.phan123@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Clip & Ship is a cutting-edge Twitch VOD analysis program for editors and streamers. Users can set up
  categories of moments for each streamer based on a streamer's emotes (Twitch, BTTV, and FFZ). Then by
  combing through VOD chat messages for emotes, Clip & Ship can find those moments in a broadcast. The
  process is fast, simple, and efficient. Once a VOD is processed, you can view and download any of the
  clips Clip & Ship generates as well as download specific timeframes or even the whole VOD. So you only
  download what you need. Clip & Ship is the future of content creation with Twitch.

baseurl: "/ClipAndShip" # the subpath of your site, e.g. /blog
url: "https:KilometersFan.github.io" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  KilometersFan
repository: "KilometersFan/ClipAndShip"

# Build settings
remote_theme: "mmistakes/minimal-mistakes@4.23.0"
minimal_mistakes_skin: "contrast"
plugins:
  - jekyll-feed
  - jekyll-include-cache

author:
  name     : "Miles Phan"
  bio      : "Software Engineer, USC undergrad '21 in CECS, loves playing CIV VI."
  location : "Seattle WA, USA"
  avatar: "assets/images/portrait.jpg"
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://KilometersFan.github.io"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/KilometersFan"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      classes: wide

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
