<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://use.fontawesome.com/a2eb659b36.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript">
        {% block head_scripts %} {% endblock %}
    </script>
    <style>
        body {
            background-color: #201f22;
            color: white;
            margin-bottom: 5em;
        }

        .action-btn {
            background-color: #5E17EB;
            color: white;
        }

        .delete-btn {
            background-color: #545454;
            color: white;
        }

        .toggle-btn {
            background-color: #cdcdcd;
            color: #201f22;
        }

        .custom-card {
            background-color: #323134;
        }

        #notificationModal .modal-dialog .modal-content, .nav-custom {
            background-color: #323134;
        }
    </style>
    {% block head_styles %}
    {% endblock %}
</head>
<body>
    {% block nav %}
    {% endblock %}
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    {% block body_scripts %} {% endblock %}
    <script type="text/javascript">
        eel.expose(videoHandler);
        function videoHandler(response) {
            if (response) {
                $("#notificationCount").text("New");
            }
            else {
                $("#notificationCount").text();
            }
            {% block videoHandler %}
            if (updateVideos) {
                setTimeout(updateVideos, 500);
            }
            {% endblock %}
        }
        eel.expose(downloadHandler)
        function downloadHandler(response) {
            console.log(response);
            $("#downloadErr").text("");
            $("#downloadSuccess").text("");
            if (response["status"] == 200) {
                if (response["isVOD"]) {
                    $("#downloadVod").prop("disabled", true);
                    $("#downloadSuccess").text(`Download for VOD successful. File is located at vods/${response["video_id"]}.mp4`);
                }
                else if (response["isOther"])  {
                    $("#downloadSuccess").text(`Download for Other Clip successful. File is located at clips/${response["channel_id"]}/${response["video_id"]}/other_clips/${response["video_id"]}_${response["start"]}_${response["end"]}.mp4`);
                }
                else {
                    $("#downloadSuccess").text(`Download for clip successful. File is located at clips/${response["channel_id"]}/${response["video_id"]}/${response["category"]}/${response["start"]}_${response["end"]}.mp4`);
                    const row = $(`#start-${response["start"]}-end-${response["end"]}`);
                    const btn = $(`#start-${response["start"]}-end-${response["end"]}-btn`);
                    btn.empty();
                    btn.append($("<i>", {"class": "fa fa-download"}));
                    btn.addClass("btn-secondary");
                    btn.removeClass("btn-primary");
                    btn.prop("disabled", true);
                    row.css('background-color', '#5E17EB');
                    setTimeout(function(){
                        if (selectedRow.attr('id') === row.attr('id')) {
                            row.css('background-color', '#33b1ff');
                        }
                        else {
                            row.css('background-color', 'inherit');
                        }
                    }, 1500);
                }
            }
            else {
                if (response["isVOD"]) {
                    $("#downloadSuccess").prop("disabled", false);
                }
                else if (response["isOther"]) {
                    $("#downloadOther").prop("disabled", false);
                }
                $("#downloadErr").text("Download failed");
            }
        }
    </script>
</body>
</html>