{% extends 'base.html' %}
{% block nav %}
    <div class="container-fluid">
        <nav class="navbar sticky-top navbar-expand-md navbar-dark nav-custom mb-2">
            <a class="navbar-brand" href="#">Clip & Ship</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="nav-link" href="your_videos.html">
                                Your Videos <span class="sr-only">(current)</span>
                            </a>
                            <span id="notificationCount" class="badge badge light"></span>
                        </div>
                    </li>
                    {% block navitems %} {% endblock %}
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}