{% extends 'nav.html' %}
{% block title %}TwitchAnalyzer | Channel{% endblock %}
{% block head_styles %}
<style>
    .emoteBox, .emoteInput {
        background-color: #545454;
        border: 1px solid #201f22;
        color: white;
        font-weight: bold;
        flex-grow: 1;
    }

    .emoteBoxChecked {
        background-color: #33b1ff;
        border: 1px solid #008be0;
        color: white;
        font-weight: bold;
    }

    .emoteBoxRemove {
        background-color: #fc1e1e;
        border: 1px solid #bf0000;
        color: white;
        font-weight: bold;
    }

    .emoteInput, .emoteBoxChecked, .emoteBoxRemove {
        cursor: pointer;
    }

    #addCategoryModal .modal-dialog .modal-content, #rmvCategoryModal .modal-dialog .modal-content, .edit-modal {
        background-color: #201f22;
    }
</style>
{% endblock %}
{% block content %}
<img id="channelImg" class="rounded mx-auto d-block" alt="Channel Picture">
<div class="d-flex justify-content-between align-items-center">
    <h1 id="channelName" class="mr-2" style="display: inline-block"></h1>
    <a class="btn btn-primary" id="videoBtn">Channel Videos</a>
</div>
<p id="channelDesc" class="mb-3 mt-3"></p>
<div class="d-flex justify-content-start align-items-center">
    <h2 style="display: inline-block" class="p-2 mr-auto">Your Categories</h2>
    <button id="categoriesBtn" class="btn toggle-btn mt-1 mb-1 mr-2 p-2">Show <i class="fa fa-toggle-on"></i></button>
    <button id="addCategoryBtn" class="btn action-btn mt-1 mb-1 mr-2 p-2" data-toggle="modal" data-target="#addCategoryModal">New <i class="fa fa-plus"></i></button>
    <button id="rmvCategoryBtn" class="btn delete-btn mt-1 mb-1 mr-2 p-2" data-toggle="modal" data-target="#rmvCategoryModal">Delete <i class="fa fa-trash"></i></button>
</div>
<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryLabel">Add Category</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="addCategoryContainer">
                    <form id="categoryForm">
                        <div id="categoryFormContainer" class="form-group">
                            <label for="newCategory">New Category</label>
                            <input class="form-control" type="text" id="newCategory" name="newCategory" required />
                            <p>Spaces and other whitespace is not allowed</p>
                            <h2 class="mt-2 mb-2">Emotes to Add</h2>
                            <h3 class="mt-2 mb-2">Other Emotes</h3>
                            <p>Add global twitch emotes, or other 1 word phrases, in a comma separated list. Text with spaces will not be added.</p>
                            <input type="text" id="addOtherEmotes" name="addOtherEmotes" placeholder="Kappa, LUL, PogChamp", class="form-control"/>
                            <h3 class="mt-2 mb-2">Twitch Emotes</h3>
                            <button type="button" id="twitchEmotesModalBtn" class="btn btn-info mt-1 mb-1">Show <i class="fa fa-toggle-on"></i></button>
                            <div class="row" id="twitchEmotesModal">
                            </div>
                            <h3 class="mt-2 mb-2">FrankerFaceZ Emotes</h3>
                            <button type="button" id="ffEmotesModalBtn" class="btn btn-info mt-1 mb-1">Show <i class="fa fa-toggle-on"></i></button>
                            <div class="row" id="ffEmotesModal">
                            </div>
                            <h3 class="mt-2 mb-2">Better TTV Emotes</h3>
                            <button type="button" id="bttvEmotesModalBtn" class="btn btn-info mt-1 mb-1">Show <i class="fa fa-toggle-on"></i></button>
                            <div class="row" id="bttvEmotesModal">
                            </div>
                        </div>
                        <p style="display: none " class="error text-danger">Please enter all required information</p>
                        <button type="reset" class="btn delete-btn">Clear</button>
                        <button type="submit" class="btn action-btn">Save Category</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="rmvCategoryModal" tabindex="-1" role="dialog" aria-labelledby="rmvCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rmvCategoryLabel">Remove Category</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="rmvCategoryContainer">
                    <form id="rmvCategoryForm">
                        <button type="submit" id="rmvSubmit" class="btn delete-btn mt-1 mb-1">Remove</button>
                        <p style="display:none" class="error text-danger"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="categories">
    <div class="text-center loading col-sm-12" id="categoryLoading">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="categoriesRow" class="col-sm-12">

    </div>
</div>
<h3 class="mt-4">Channel Emotes</h3>
<hr style="background-color: white"/>
<div class="d-flex justify-content-between align-items-center">
    <h5 style="display: inline-block">Twitch Emotes</h5>
    <button type="button" id="twitchEmotesBtn" class="btn toggle-btn mt-1 mb-1">Show <i class="fa fa-toggle-on"></i></button>
</div>
<hr style="background-color: white"/>
<div class="text-center loading col-12">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row ml-0 mr-0" id="twitchEmotes">
    <p id="TwitchEmpty" style="display:none">Unable to find Twitch Emotes</p>
</div>
<hr style="background-color: white"/>
<div class="d-flex justify-content-between align-items-center">
    <h5 style="display: inline-block">FrankerFaceZ Emotes</h5>
    <button type="button" id="ffEmotesBtn" class="btn toggle-btn mt-1 mb-1">Show <i class="fa fa-toggle-on"></i></button>
</div>
<hr style="background-color: white"/>
<div class="text-center loading col-12">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row ml-0 mr-0" id="ffEmotes">
    <p id="FFEmpty" style="display:none">Unable to find FFZ Emotes</p>
</div>
<hr style="background-color: white"/>
<div class="d-flex justify-content-between align-items-center">
    <h5 style="display: inline-block">Better TTV Emotes</h5>
    <button type="button" id="bttvEmotesBtn" class="btn toggle-btn mt-1 mb-1">Show <i class="fa fa-toggle-on"></i></button>
</div>
<hr style="background-color: white"/>
<div class="text-center loading col-12">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row ml-0 mr-0" id="bttvEmotes">
    <p id="BTTVEmpty" style="display:none">Unable to find BTTV Emotes</p>
</div>
{% endblock %}
{% block body_scripts %}
<script type="text/javascript" src="../scripts/channel.js"></script>
{% endblock %}